body {
    margin: 0;
    font-family: 'Cinzel', serif;
    background-image: url(imagens/bodyfundo.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.hero {
    background-image: url(imagens/fundo.jpg);
    height: 900px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
}

.hero-content {
    margin: 200px auto 0;
    width: 80%;
    text-align: center;
    color: white;
    letter-spacing: 1em;
}

.hero-content h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 2px rgb(163, 163, 163);
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-content p {
    background-color: rgba(0, 0, 0, .7);
    font-size: 1.1rem;
    display: inline-block;
    padding: .8rem;
    border-bottom: 2px solid;
    text-align: center;
    font-family: Arial;
    letter-spacing: .06rem;
}

.hero nav ul {
    margin: 20px 80px 0 0;
    text-align: right;
}

.hero nav li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 16px;
}

.hero nav a {
    background-color: rgba(0, 0, 0, .3);
    padding: .8rem;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 2px;
}

.hero nav a:hover {
    background-color: rgba(112, 110, 110, 0.5);
}

main {
    width: 90%;
    margin: auto;
    max-width: 860px;
}

article {
    background-color: rgba(233, 228, 228, 0.658);
    padding: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

article h2 {
    border-bottom: 2px solid #ccc;
    background-color: rgba(8, 8, 8, 0.795);
    padding: 10px;
    margin-top: 0;
    color: #fff;
    letter-spacing: .09em;
    font-size: 1.6rem;
}

article p {
    font-family: Arial;
    font-size: 1rem;
    text-align: justify;
    letter-spacing: .08rem;
    line-height: 1.5rem;
}

article a {
    text-decoration: none;
}

.btn {
    background-color: #cdc7c3;
    display: block;
    padding: 12px 16px;
    border-radius: 6px;
    margin-left: auto;
    width: fit-content;
}

.div_icons {
    display: flex;
    justify-content: center;
}

.div_icons img {
    align-items: center;
    padding: 1rem;
    width: 3rem;
}

@media screen and (min-width: 48em) {
    /*768px maior que*/

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_nav ul {
        margin-right: 2em;
        font-size: .5em;
    }

    .header_nav li {
        display: inline-flex;
    }

    .header {
        text-align: center;
        margin: auto;
    }

    .hero nav a {
        font-size: 1.2rem;
        letter-spacing: 2px;
    }
}

.rodape {
    color: white;
    background-color: #6b6c68;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}